/* html,
body,
#root {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0;
} */

.App {
  text-align: center;
}

.page-wrapper {
  background-color: rgb(255, 198, 207);
}

.nav-container {
  background-color: lightsalmon;
}